<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--bootstrap은 jquery에 의존 => jquery를 먼저 호출-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>